<a href="https://colab.research.google.com/github/nguyentriducanh2000/CS114.K21/blob/master/codepttk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import pandas as pd
#read file
file = open('/content/data.csv')
#tính số hàng của data
numline = len(file.readlines())
data = pd.read_csv('/content/data.csv')
data

        wnm               wt  ans
0    15 3 3   16 16 16 5 5 5   12
1    15 3 3  12 1 4 12 12 12   13
2   15 3 3    12 1 4 16 3 16   14
3    17 3 3     13 4 8 8 4 6   17
4    17 3 3      4 4 4 4 4 4   15
5    20 3 3  21 18 17 19 2 4   19
6    20 3 3     12 6 5 8 7 6   19
7    20 3 4    4 5 4 2 2 2 2   16
8   20 4 3     3 3 3 3 2 2 2   15
9    23 3 3   3 17 20 12 3 4   23
10   23 3 3      5 5 5 7 8 8   22
11  23 3 3      7 7 7 6 6 23   22
12   30 4 2      3 4 5 5 3 2   20
13  40 3 3       6 3 3 4 2 2   17

In [139]:
#ham cai dat thuat toan
def knapSack(W, wt, val, N):
    K = [[0 for x in range(W + 1)] for x in range(N + 1)] 
    for i in range(N + 1):
        for w in range(W + 1):   
            if i == 0 or w == 0: 
                K[i][w] = 0
            elif wt[i-1] <= w: 
                K[i][w] = max(val[i-1] + K[i-1][w-wt[i-1]],  K[i-1][w]) 
            else: 
                K[i][w] = K[i-1][w] 
    return K[N][W]

In [140]:
for i in range(numline-1):
  W, n, m = list(map(int, data['wnm'][i].split()))
  wt = list(map(int, data['wt'][i].split()))
  ans = data['ans'][i]
  val=[]
  for i in range(len(wt)):
    if i < n: val.append(wt[i])
    else: val.append(wt[i] - 1)
  N = n+m
  kq = knapSack(W, wt, val, N)
  print(kq)
  if kq == ans: print('True')
  else: print('flase')

12
True
13
True
14
True
17
True
15
True
19
True
19
True
16
True
15
True
23
True
22
True
22
True
20
True
17
True

In [141]:
#nhap tay du lieu
W = int(input())
n = int(input())
m = int(input())
wt = []
for i in range(n+m):
  wt.append(int(input()))
val=[]
for i in range(len(wt)):
  if i <n: val.append(wt[i])
  else: val.append(wt[i] - 1)
N = n+m
print(W)
print(wt)
print(val)
print(N)

print(knapSack(W, wt, val, N))

23
3
3
5
6
4
8
5
4
23
[5, 6, 4, 8, 5, 4]
[5, 6, 4, 7, 4, 3]
6
22